.Dashboard{
    padding-top: 160px;
    
}
.Dashboard .Toggler{
    display: flex;
    justify-content: space-around;
}
.Dashboard .Toggler h2{
    margin-bottom: 40px;
    padding: 15px;
    background-color: var(--tea-green);
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;
}

.SellerDashboard{
    text-align: center;
}
.SellerDashboard .Container, .BuyerDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SellerDashboard .Container .ProductForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.SellerDashboard .Container .ProductForm *{
    margin-top: 30px;
}
.SellerDashboard .Container .ProductForm button{
    border-radius: 100px;
}
.SellerDashboard .Container .ProductForm label{
    font-size: 30px;
}
.LoginError{
    font-size: 30px;
}

.BuyerDashboard h1, .BuyerDashboard .LoginError, .SellerDashboard h1, .SellerDashboard .LoginError{
    color: black;
}