.Success{
   text-align: center;
   margin-top: 300px;
   color: black;
}

.Home{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.Home:hover{
    cursor: pointer;
    color: green;
}