.product {
    text-align: center;
}

.product h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}