.categories {
    margin-top: 100px;
}

.categories h2 {
    text-align: center;
    text-decoration: underline;
}

.categories button {
    text-align: center;
    padding: 15px;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}