.productCard {
    display: inline-block;
    margin-left: 50px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    border: solid 3px black;
    width: 250px;
    height: 450px;
    text-align: center;
    background-color: var(--tea-green);
    
}

.productCard:hover{
    box-shadow: 20px 20px 8px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .2s;
    
}

.productCard #card {
    
    
    border-radius: 5px;
    color: white;
    text-align: center;
}


.productCard h3 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 15px;
}

.productCard img {
    width: 50%;
    height: 200px;
    margin-bottom: 20px;
}

.productCard .Link{
    text-decoration: none;
    color: inherit;
}
