.productCard {
    text-align: center;
    border: dotted 2px black;
    padding: 10px;
    width: 28%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.productCard h3 {
    font-size: 32px;
    font-weight: 800;
}

.productCard img {
    width: 50%;
    height: 200px;
}
